stages:
  - deploy

deploy_production:
  stage: deploy
  script:
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SERVER_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $DEPLOY_USER@$DEPLOY_HOST "mkdir -p /var/www/bystroi.ru/shopchik-master && cd /var/www/bystroi.ru/shopchik-master && git init || true && git remote add origin git@git.tablecrm.com:tablecrm/bystroi.ru.git 2>/dev/null || git remote set-url origin git@git.tablecrm.com:tablecrm/bystroi.ru.git && GIT_SSH_COMMAND='ssh -i ~/.ssh/gitlab_key -o StrictHostKeyChecking=no' git fetch --all && GIT_SSH_COMMAND='ssh -i ~/.ssh/gitlab_key -o StrictHostKeyChecking=no' git reset --hard origin/main && GIT_SSH_COMMAND='ssh -i ~/.ssh/gitlab_key -o StrictHostKeyChecking=no' git clean -fd && npm install -g pnpm --unsafe-perm=true && pnpm install --frozen-lockfile || pnpm install && rm -rf .next out && pnpm build && node ./node_modules/next/dist/bin/next export --outdir out && sudo rm -rf /var/www/html/* && sudo rsync -av out/ /var/www/html/ && sudo chown -R www-data:www-data /var/www/html && sudo chmod -R 755 /var/www/html && echo 'ГОТОВО! Сайт обновлён — https://bystroi.ru'"
  environment:
    name: production
    url: https://bystroi.ru
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual