stages:
  - deploy

deploy_test:
  stage: deploy
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    
    - echo "$DEPLOY_SERVER_PRIVATE_KEY" > ~/.ssh/test_key
    - chmod 600 ~/.ssh/test_key
    - echo "Ключ создан, проверяем формат:"
    - head -n 1 ~/.ssh/test_key
    
    - echo -e "Host $DEPLOY_HOST\n    HostName $DEPLOY_HOST\n    User $DEPLOY_USER\n    StrictHostKeyChecking no\n    IdentityFile ~/.ssh/test_key" > ~/.ssh/config
    - ssh-keyscan $DEPLOY_HOST >> ~/.ssh/known_hosts
    
    - ssh $DEPLOY_USER@$DEPLOY_HOST "echo 'Успешное подключение к серверу!'"

  script:
    - echo "Тест завершен"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'