{
  "importOrder": [
    "@/app/(.*)$",
    "@/entities/(.*)$",
    "@/feature/(.*)$",
    "@/widgets/(.*)$",
    "@/shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
